# Dependency directory
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.test
.env.development.local
.env.test.local
.env.production.local
.env.local


# Node

logs
*.log
npm-debug.log*

.DB_Store


# Test outputs
coverage/
test-results/
*.test.db

# Docker volumes / Databases
pgdata/
grafana_data/
prometheus_data/

*/data/