# App
PORT=5000
NODE_ENV=development

# Migrations
RUN_MIGRATIONS=true

# Database
DB_USERNAME=postgres
DB_PASSWORD=secret_password
DB_NAME=my_database
DB_PORT=5432
DB_CONNECTION=db
DATABASE_URL=postgres://postgres:secret_password@db:5432/my_database
DB_MAX_CLIENTS=20
DB_IDLE_TIMEOUT=30000
DB_CONNECTION_TIMEOUT=2000

# Test DB Specific

TEST_DB_USERNAME=postgres
TEST_DB_PASSWORD=test_secret_password
TEST_DB_NAME=test_my_database
TEST_DB_PORT=5432
TEST_DB_URL=postgres://postgres:test_secret_password@db:5432/test_my_database
TEST_DB_CONNECTION=postgres_test

MOCK_DATE=true
LOG_LEVEL=error
